[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/tiny-cuda-nn"]
	path = ext/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
